* {
    margin: 0;
    padding: 0;
}

/*
Content (Primary) Color #21D1FD
Action (Secondary) Color #60F000
*/
.navBar {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 0.25rem solid #24D1FD;
    align-items: center;
}

#LogInButton {
    margin-right: 1rem;
    padding: .5rem;
    background-color: #24D1FD;
    border: 0.1rem solid #24D1FD;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#LogInButton:hover {
    cursor: pointer;
    background-color: #60F000;
    border: 0.1rem solid #60F000;
}

.DropDownLogInMenu{
    text-align: center;
    position: relative;
    margin-right: 3rem;
    padding: 0.5rem;
    min-width: 4rem;
    background-color: #24D1FD;
    color: white;
    font-weight: bold;
    border-radius: 1rem 1rem 1rem 1rem;
}
.DropDownLogInContent{
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: #24D1FD;
    color: white;
    min-width: 4rem;
    padding: 0.5rem;
    translate: -0.5rem 0.5rem;
    border-radius: 0 0 1rem 1rem;
}
.DropDownLogInMenu:hover{
    border-radius: 1rem 1rem 0 0;
}
.DropDownLogInMenu:hover .DropDownLogInContent{
    display: block;
}
.DropDownLogInContent:hover{
    background-color: #60F000;
} 
.AuthContainer{
    border: #24D1FD solid 0.25rem;
    justify-self: center;
    padding: 4rem;
    margin: 10rem;
    max-width: 20rem;
    display: grid;
    justify-content: center;
    border-radius: 2rem;
}
#client{
    min-width: 10rem;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    background-color: #24D1FD;
    text-decoration: none;
    color: white;
    border-radius: 1rem;
}
#client:hover{
    background-color: #60F000;
    cursor: pointer;
}
#Admin{
    min-width: 10rem;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    background-color: #24D1FD;
    text-decoration: none;
    color: white;
    border-radius: 1rem;
}
#Admin:hover{
    background-color: #60F000;
    cursor: pointer;
}
