* {
    margin: 0;
    padding: 0;
}

/*
Content (Primary) Color #21D1FD
Action (Secondary) Color #60F000
*/
.navBar {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 0.25rem solid #24D1FD;
    align-items: center;
}

#LogInButton {
    margin-right: 1rem;
    padding: .5rem;
    background-color: #24D1FD;
    border: 0.1rem solid #24D1FD;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#LogInButton:hover {
    cursor: pointer;
    background-color: #60F000;
    border: 0.1rem solid #60F000;
}

#DropDownLogInMenu {
    width: 4rem;
    padding: .5rem;
    background-color: #24D1FD;
    border: 0.1rem solid #24D1FD;
    border-radius: 0.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    position: relative;
}

.DropDownLogInContent {
    display: none;
    position: absolute;
    width: 4rem;
    margin-top: 0.55rem;
    background-color: #24D1FD;
    border: 0.1rem solid #24D1FD;
    border-radius: 0 0 0.5rem 0.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    translate: -0.55rem;
}

#DropDownLogInMenu:hover .DropDownLogInContent {
    display: block;
}

#DropDownLogInMenu:hover {
    border-radius: 0.5rem 0.5rem 0 0;
}
.DropDownLogInItem{
    color: white;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.DropDownLogInItem:hover{
    background-color: #60F000;
    border: 0.1rem solid #60F000;

}
#DropDownLogInButton:hover{
    cursor: pointer;
}